@mixin fontPro2($color: black, $fz: 16, $fw: 400, $st: normal) {
  font-family: "Source Sans Pro", sans-serif;
  color: $color;
  font-size: $fz + px;
  font-weight: $fw;
  font-style: $st;
}

@mixin fontPro() {
    font-family: "Source Sans Pro", sans-serif;
}

$grey: #626262;
$orange: #fc6744;
$lightGray: #7b7b7b;
$gray: #c7c7c7;
