@import "vars";
@import "global";
@import "libs";
@import "fonts";

// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
ol,
ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.container {
  max-width: 1170px !important;
}

.header {
  padding-top: 82px;
  padding-bottom: 100px;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
  position: relative;
  &-active {
    margin-bottom: 0;
  }
}

.menu-btn {
  width: 35px;
  height: 18px;
  position: relative;
  border: none;
  outline: none;
  background-color: inherit;
  &:focus {
    outline: none;
  }
  &.menu-btn__active {
    .menu-btn__line {
      background-color: $orange;
      &:nth-child(1) {
        transform: rotate(-45deg);
        top: 8px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(45deg);
        top: 8px;
      }
    }
  }
  &__line {
    width: 100%;
    height: 4px;
    background-color: #706b73;
    border-radius: 1px;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.2s linear;
    &:nth-child(1) {
      top: 0;
      transition-delay: 0.1s;
    }
    &:nth-child(2) {
      top: 8px;
      transition-delay: 0.1s;
    }
    &:nth-child(3) {
      top: 16px;
      transition-delay: 0.1s;
    }
  }
}

.header__nav-inner {
  position: absolute;
  display: none;
  left: 0px;
  top: 70px;
  width: 100%;
  background-color: #fff;
}
.header__list {
  width: 100%;
}
.header__list-item {
  width: 100%;
  border-bottom: 1px solid $gray;
  padding-bottom: 5px;
  margin-bottom: 5px;
  transition: all 0.2s ease-in;
  &:hover {
    background-color: $orange;
    a {
      color: #fff;
    }
  }
  a {
    transition: all 0.2s ease-in;
    width: 100%;
  }
}

.header__main {
  text-align: center;
}

.send__message {
  max-width: 375px;
  text-align: center;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 57px 0px rgba(20, 20, 21, 0.2);
  margin-bottom: 20px;
  padding: 20px 0;
  form {
    input {
      width: 295/375 * 100%;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
      padding: 10px 0;
      margin-bottom: 25px;
      border-bottom-color: $gray;
      &:focus {
        outline: none;
      }
    }
    textarea {
      width: 295/375 * 100%;
      height: 90px;
      padding: 10px 0;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
      resize: none;
      border-bottom-color: $gray;
      margin-bottom: 20px;
      &:focus {
        outline: none;
      }
    }
    .send__message-btn {
      text-transform: capitalize;
      color: #fff;
      font-size: 16px;
      // line-height: 25px;
      background-color: $orange;
      border-radius: 25px;
      padding: 22px 61px 17px 72px;
      border: none;
      outline: none;
      &:hover {
        .send__message-arrow {
          transform: translateX(12px);
        }
      }
      .send__message-arrow {
        color: #fff;
        margin-left: 12px;
        transition: all 0.3s ease-in;
      }
    }
  }
}

.send__message-title {
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 50px;
  span {
    @include fontPro2($orange, inherit, 700);
  }
}

.working-process {
  text-align: center;
  padding: 60px 0 60px;
  margin-bottom: 100px;
}

.working-item {
  text-align: center;
  color: #fff;
  padding: 50px 15px 20px;
  max-width: 260px;
  margin: 0 auto;
}

.working-item__ico {
  font-size: 50px;
  margin-bottom: 25px;
}

.working-item__title {
  font-size: 20px;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.working-item__text {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 35px;
}
.working-item__btn {
  color: black;
  font-size: 16px;
  background-color: #fff;
  border-radius: 25px;
  width: 228/260 * 100%;
  margin: 0 auto;
  line-height: 55px;
  height: 55px;
  text-align: center;
  position: relative;
  i {
    position: absolute;
    left: 30px;
    transform: translateY(-50%);
    top: 50%;
    color: black;
    font-size: 16px;
  }
}

.featured-works {
  text-align: center;
  padding-bottom: 60px;
  margin-bottom: 240px;
}

.featured-img {
  max-width: 360px;
  width: 100%;
  max-height: 365px;
  height: 100%;
  margin-bottom: 22px;
}

.services {
  text-align: center;
}

.services__item {
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  line-height: 100px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 36px 0px rgba(20, 20, 21, 0.2);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

.modern-block {
  text-align: left;
}

.modern-block {
  margin-left: 35px;
}
.modern-block__title {
  padding-bottom: 21px;
  position: relative;
  margin-bottom: 19px;
  &:before {
    content: "";
    position: absolute;
    width: 57px;
    height: 3px;
    background-color: $orange;
    bottom: 0;
  }
}
.modern-block__text {
  font-size: 16px;
  color: $grey;
  line-height: 25px;
  margin-bottom: 30px;
}
.modern-block__btn {
  margin-left: 50px;
  font-size: 16px;
  line-height: 25px;
  color: $grey;
  i {
    font-size: 15px;
    margin-right: 15px;
  }
}

.services {
  padding-bottom: 100px;
  margin-bottom: 200px;
}

.team-skills {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 210px;
}

.persone-block {
  max-width: 360px;
  margin: 0 auto;
  max-height: 440px;
  height: 100%;
  position: relative;
  transition: all 0.2s linear;
  background-color: #fff;
  .persone__img {
    max-width: 100%;
    height: 100%;
    transition: all 0.2s linear;
  }
  &:hover {
    .persone__socials {
      display: block;
    }
    .persone__info {
      bottom: 0px;
    }
    .persone__work {
      color: $orange;
    }
    .persone__img {
      opacity: 0;
    }
    .persone__statistics {
      opacity: 1;
    }
    .design::after {
      width: 122/150 * 100%;
    }
    .english::after {
      width: 108/150 * 100%;
    }
    .communication::after {
      width: 116/150 * 100%;
    }
  }
}

.persone__statistics {
  position: absolute;
  transition: all 0.2s linear;
  top: 40%;
  left: 50%;
  max-width: 150px;
  transform: translate(-50%, -50%);
  opacity: 0;
  .design,
  .english,
  .communication {
    padding-bottom: 11px;
    margin-bottom: 11px;
    position: relative;
    transition: all 0.9s linear;
    &::before {
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 1px;
      position: absolute;
      bottom: 0;
      background-color: #817f7e;
    }
    &:after {
      content: "";
      height: 4px;
      border-radius: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $orange;
      transition: all 0.5s linear;
      width: 0;
    }
  }
}

.persone__info {
  position: absolute;
  width: 260/360 * 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  color: #737373;
  transition: all 0.2s linear;
}
.persone__name {
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

.persone__work {
  font-size: 15px;
  margin-bottom: 10px;
  transition: all 0.2s linear;
}

.persone__socials {
  transition: all 0.2s linear;
  display: none;
}

.persone-social__item {
  display: inline-block;
  margin: 0 5px;
  a {
    color: #b2aaa8;
  }
}

.clients-said {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 190px;
}

.clients-said__slider-wrapper {
  position: relative;
  .slick-dots {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    li {
      margin: 0 3px;
    }
    button {
      font-size: 0;
      background-color: #e0e0e0;
      width: 18px;
      height: 6px;
      border: none;
      border-radius: 2px;
      outline: none;
      transition: all 0.8s ease-in-out;
      &:hover {
        background-color: rgba($orange, 0.8);
      }
    }
    .slick-active {
      button {
        background-color: $orange;
        transition: all 0.2s ease;
      }
    }
  }
  .next-arrow {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: -12px;
    z-index: 10;
    font-size: 17px;
    width: 40px;
    height: 40px;
    transition: all 0.2s linear;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: #fff;
      background-color: $orange;
    }
  }
  .prev-arrow {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: -12px;
    z-index: 10;
    font-size: 17px;
    width: 40px;
    height: 40px;
    transition: all 0.2s linear;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: #fff;
      background-color: $orange;
    }
  }
}

.clients-said__block {
  max-width: 540px;
  width: 100%;
  text-align: center;
  font-size: 17px;
  line-height: 27px;
  color: #737373;
  padding-bottom: 35px;
  padding-top: 100px;
  padding: 100px 40px 35px;
  border: 1px solid transparent;
  position: relative;
  transition: all 0.2s linear;
  border-radius: 2px;
  &:hover {
    border-color: #d3d3d3;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    background-image: url("../img/Ellipse.png");
    width: 101px;
    height: 101px;
    left: 50%;
  }
}
.clients-said__text {
  @include fontPro();
  margin-bottom: 24px;
}

.clients-said__stars {
  margin-bottom: 24px;
  font-size: 13px;
}

.clients-saud__star {
  margin: 0 1px;
  color: yellow;
}

.clients-said__persone {
  font-style: italic;
  strong {
    font-weight: 700;
    color: black;
    font-style: normal;
  }
}

.social-networks {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.social-networks__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.social-network {
  margin-bottom: 50px;
}

.social-networks__btn {
  font-size: 16px;
  text-transform: capitalize;
  margin: 0px auto;
  border-radius: 25px;
  border: 1px solid #e6e6e6;
  width: 238px;
  height: 55px;
  text-align: center;
  line-height: 55px;
}

.footer {
  padding-bottom: 55px;
}

.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer__list {
  margin-right: 38px;
  display: flex;
  align-items: center;
}

.footer-item {
  display: inline-block;
  margin: 0 8px;
  a {
    width: 52px;
    height: 52px;
    background-color: #d3d3d3;
    transition: all 0.3s linear;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    &:hover {
      background-color: $orange;
    }
  }
}

.footer__copy {
  font-size: 17px;
  color: #ababab;
}

@import "media";
